<%= render "banner" %>
<div class="index-container">
<h1>My favorite movies</h1>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-trip">
        <img src="<%= list.image_url %>" alt="" height="200" width="300">
          <div class="card-trip-infos">
              <%= link_to list.name, list_path(list) %>
          </div>
      </div>
    <% end %>
  </div>
</div>
