.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-brand {
  color: rgba(202, 202, 202, 0.9);
}

.navbar-light .navbar-brand:hover {
  color: rgba(202, 202, 202, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(202, 202, 202, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(202, 202, 202, 0.9);
}
